<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Page</title>
</head>
<body>
    
<h1>Create New User</h1>

<form action="/user_complete" method="post">
    <label>First Name:</label>
    <input type="text" name="first_name">
    <label>Last Name:</label>
    <input type="text" name="last_name">
    <label>Email:</label>
    <input type="text" name="email">
    <input type="submit" name="submit" value="Submit">
</form>

</body>
</html>